:root {
    --background-color: #f8f8f8;
    --text-color: #282828;
    --text-color-dim: #b8b8b8;
    --link-color: #7cafc2;
    --font-family: 'Space Grotesk', arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav .navbar_left a {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 600;
}

nav .navbar_right a {
    font-size: 1rem;
    margin: 0 0.75rem;
}

/* About Section */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 0 2rem;
    gap: 2rem;
}

.about .text {
    flex: 5;
}

.about .avatar {
    flex: 2;
    display: flex;
    width: 150px;
    height: 250px;
    justify-content: center;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/* Responsive on Resoluation Changes*/
@media (max-width: 600px) {
    /* TODO: Replace this with a hamburger menu icon */
    nav {
        display: flex;
        flex-direction: column;
    }

    /* About Section */
    .about {
        flex-direction: column;
    }
    .about .text {
        text-align: center;
    }
    .about .avatar {
        display: none;
    }
}
